@inherits RazorLayoutSlice<LayoutModel>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RT4K - @Model.Title</title>
        @(await RenderPartialAsync<w3>())
        @(await RenderPartialAsync<w3_colors_metro>())
    </head>
    <body class="w3-metro-light-blue">
        <!-- Sidebar -->
        <div class="w3-sidebar w3-light-gray w3-card-4" style="width: 180px; display: block;">
            <div class="w3-bar-block w3-dark-gray w3-padding-16 w3-center">
                <b>RT4K</b>
            </div>
            <div class="w3-bar-block">
                <a href="/" class="w3-bar-item w3-button">Status</a>
                <!--<a href="/readme" class="w3-bar-item w3-button">Readme</a>
                <a href="/settings" class="w3-bar-item w3-button">Settings</a>
                <a href="/actions" class="w3-bar-item w3-button">Actions</a>
                <a href="/videoTimings" class="w3-bar-item w3-button">Video Timings</a>-->
                <a href="/DebugLog" class="w3-bar-item w3-button">Debug Log</a>
            </div>
        </div>

        <!-- Page content -->
        <div style="margin-left: 180px;">
            <div class="w3-container">
                <h1>@Model.Title</h1>
                @await RenderBodyAsync()
            </div>
        </div>
    </body>
</html>