@inherits RazorSliceHttpResult<AppState>
@implements IUsesLayout<_Layout, LayoutModel>

@functions {
    public LayoutModel LayoutModel
    {
        get
        {
            string error = "";
            // TODO: Look into moving this to an async section render
            if (Model.Command == "CheckUpdates")
            {
                var latestVersion = Installer.CheckUpdate();

                if (!string.IsNullOrWhiteSpace(latestVersion))
                {
                    Model.Settings.LatestVersion = latestVersion;
                }
                else
                {
                    error = "Unable to get update information";
                }
            }

            return new() { Title = "Settings", Error = error };
        }
    }
}

<h2>Updates</h2>

<div class="w3-panel">
    <table class='w3-table-all w3-card' style='max-width: 700px;'>
        <tr><th>Current version:</th><td>@(rt4k_pi.Program.VERSION)</td></tr>
        <tr><th>Latest version:</th><td>@Model.Settings.LatestVersion&nbsp;&nbsp;<a class="@LayoutModel.ButtonClasses" href="/Settings/CheckUpdates">Check for updates</a>&nbsp;<a class="@LayoutModel.ButtonClasses" href="">Install update</a></td></tr>
    </table>
</div>

<h2>Services</h2>

<div class='w3-panel'>
    <table class='w3-table-all w3-card' style='max-width: 700px;'>
        <tr><th style="width: 25%;">WebDAV</th><td><input class="w3-check" id="enable_webdav" type="checkbox" disabled /> <label for="enable_webdav">Enable</label></td></tr>
        <tr><th>ser2net</th><td><input class="w3-check" id="enable_ser2net" type="checkbox" checked disabled/> <label for="enable_ser2net">Enable</label></td></tr>
        <tr><th>Pizza</th><td><input class="w3-check" id="enable_pizza" type="checkbox" checked disabled /> <label for="enable_ser2net">Enable</label></td></tr>
    </table>
</div>